.income-expense {
    display: flex;
    justify-content: center; /* 가로축에서 아이템들을 중앙 정렬 */
    align-items: center; /* 세로축에서 아이템들을 중앙 정렬 */
    font-size: 24px;
    font-weight: bold;
    gap: 10px; /* 각 요소 사이의 간격 */
  }
.barchart_shell{
  background-color: azure;
}

.divider {
    width: 4px; /* 선의 두께 */
    height: 40px; /* 선의 높이 */
    background-color: #ced4da; /* 선의 색상 */
    margin: 0 70px; /* 좌우 간격 */
  }
  
.calendar-container {
  margin-top: 20px;
  }
  
    /* 캘린더 넓이 설정 */
.custom-datepicker {
  width: 500px;
  /* 캘린더 전체의 넓이 설정 */
  height: 360px;
  }
  
.custom-datepicker .react-datepicker__month-container {
  width: 100%;
  /* 달력 내부의 달(month) 컨테이너 넓이를 부모에 맞춤 */
  height: 100%;
  /*높이 수정*/
  }
.custom-datepicker .react-datepicker__current-month {
    font-size: 1.25rem; /* 원하는 텍스트 크기로 조정 */
    font-weight: bold; /* 텍스트를 더 두껍게 (선택 사항) */
  }

.react-datepicker__day-name {
  width: calc(100% / 7); /* 각 요일 셀의 넓이 비율 조정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 1.35rem; /* 요일 텍스트 크기 */
  padding: 10px 17px; /* 위아래 패딩 조정 */
  font-weight: bold;
  }

  .react-datepicker__day {
    width: calc(100% / 7); /* 각 날짜 셀의 넓이 비율 조정 */
    font-size: 1.35rem; /* 날짜 텍스트 크기 */
    padding: 10px 17px; /* 위아래 패딩을 조정하여 날짜 위치 조정 */
    position: relative; /* 날짜 셀에 상대 위치 설정 */
  }

  .day-contents {
    position: relative; /* 날짜 셀 내에 배치되도록 설정 */
    display: flex;
    flex-direction: column; /* 수직으로 나열 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
    height: 100%; /* 날짜 셀 전체 높이에 맞춤 */
    width: 100%; /* 날짜 셀 전체 너비에 맞춤 */
  }
  
  .day-number {
    font-size: 1.35rem; /* 날짜 텍스트 크기 */
  }
  
  .custom-datepicker .react-datepicker__day {
    position: relative; /* 상대 위치로 설정하여 절대 위치의 자식 요소 배치 가능 */
  }
  