.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; /* left: 0을 추가해 header를 전체 너비에 걸쳐 고정 */
  height: 37px; /* Header의 높이 설정 */
  padding: 10px;
  background-color: #f8f9fa;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn { /*메뉴바*/
    background-color: #00a3d2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content { /*메뉴바 내용 => 선택할 페이지 목록*/
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(194, 189, 189);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: gray;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #00a3d2;
  }
  